/* For buttons in dropdown */
@media (max-width: 991px) {
    #navbarContent .btn {
        margin-top: 10px;
    }
}

/* NAVBAR */
nav {
    background-color: #FF8300;
}

.navbar-brand {
    font-family: 'Graduate', cursive;
    color: #ffffff !important;
    font-size: 2em;
}

#navbarContent .btn {
    margin-left: 10px;
}


/* FOOTER */
footer {
    height: 58px;
    padding: 8px 16px 8px 16px;
    background-color: #FF8300;
    color: white;
}

footer .container-fluid {
    padding: 0;
    margin: 0;
}

footer .brand {
    font-family: 'Graduate', cursive;
    font-size: 2em;
}

footer i {
    color: #007BFF;
    margin-left: 0.2em;
    font-size: 2em;
}

footer #socialMedia {
    margin-top: 5px;
}