@media (min-width: 991px) {
    #featured-article {
        width: 55%;
    }
}
@media (max-width: 991px) {
    #featured-article {
        width: 90%;
    }
}

#featured-article {
    padding-top: 1rem;
}

#top-articles-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card {
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    min-height: 400px;
    object-fit: cover;
}

#name-date {
    height: 300px;
}

#article-info {
    position: absolute;
    bottom: 10px;
}


#featured-article .card-img-top  {
    height: 30vw;
}

#profile-icon {
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-right: 10px;
}
